* {
    /* font: JetBrainsMono Nerd Font; */
}

window {
    margin: 0px;
    background-color: #E9AC2D;
    border-radius: 15px;
  }
  
  #input {
    all: unset;
    min-height: 36px;
    padding: 4px 10px;
    margin: 4px;
    border: none;
    color: #E9AC2D;
    font-weight: bold;
    background-color: #161717;
    outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
  }
  
  #inner-box {
    margin: 4px;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
  }
  
  #outer-box {
    /* margin: 0px;
    padding: 3px;
    border: none;
    border-radius: 15px;
    border: 5px solid #111019; */
  }
  
  #scroll {
      margin-top: 5px;
      border: none;
      margin-bottom: 15px;
  }
  
  #text {
    margin: 5px;
    color: #022221;
  }
  
  #text:selected {
    color: #E9AC2D;
    border: none;
    border-radius: 15px;
  }
  
  #entry {
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
  }
  
  #entry:selected {
    /* margin: 0px 0px; */
    border: none;
    border-radius: 15px;
    background: #161717;
  }